body {
  background-color: gainsboro;
  text-align: center;
}

#add-student-form {
	display: inline-block;
}


.group {
	text-align: center;
}

.student {
	display: inline-block;
	width: 200px;
	padding: 20px;
	margin: 5px;
}

h1  {
  font-family: 'Six Caps', sans-serif;
  font-size: 5em;
  letter-spacing: 0.5em;
}

p, #student-list, .groups {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
}

li {
  list-style-type: none;
}

.group:nth-child(even) {
  border-bottom: solid 2px #c9c9c9;
} 

.group:nth-child(odd) {
  border-bottom: solid 2px #757F9A;
}

button {
  font-family: 'Six Caps', sans-serif;
  color: dimgrey;
  font-size: 2em;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-left: solid 2px #c9c9c9;
}

button:hover {
  background: #DAE2F8; 
    background: -webkit-linear-gradient(top, #DAE2F8 , #D6A4A4); 
    background: linear-gradient(top, #DAE2F8 , #D6A4A4); 
  text-decoration: none;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  background-color: gainsboro;
  margin-bottom: 1em;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  width: 15em;
  margin-right: 1em;
}

input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 2px #969696;
  background-color: gainsboro;
}

form {
  margin: 0 auto;
}

@media only screen and (max-width: 840px) {
  button {
    width: 10em;
    margin-bottom: 0.1em;
  }
  form {
    width: 80%;
    margin: 0 auto;
  }
  input[type="text"] {
    width: 80%;
    margin: 1em auto;
  }
  h1 {
    letter-spacing: 0.2em;
  }
  .group:nth-child(even) {
    background-color: #D6A4A4;
  } 

  .group:nth-child(odd) {
    background-color: #DAE2F8;
  }
}





