@media screen and (min-width: 1024px) {

  }

@media screen and (min-width: 480px) {

  }

@media screen and (min-width: 320px) {

  }

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
  line-height: 2;
  cursor: default;
}

a {
  text-decoration: none;
}

#page-header {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  background-color: white;
  padding-bottom: 40px;
  padding-left: 50px;
}

.container {
/*  background: url(../images/Background-1.jpg) center center no-repeat;
*/  background-size: cover;
  padding: 0%;
  margin-top: 40px;
  width: 100%;
}

.banner {
  background-color: rgba(255,255,255,0.75);
  padding: 0%;
  box-shadow: inset 0 0 5px rgba(0,0,0,1);
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
/*  height: 350px;
  position: fixed;*/
}

.directions {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  margin: 0 0 1.5em 0;
}

.dice {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 350px;
  padding-bottom: 20px;
/*  height: 150px;
  position: fixed;*/
}

.dice img {
  height: 100px;
  width: 100px;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.dice img:hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

/*.fade_click {
  background: #fff;
}

.fade {
  opacity: .5;
}*/

.selected {
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.clear {
  clear: both;
}

#recipe {
/*  padding-top: 150px;*/
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.75);
  box-shadow: inset 0 0 5px rgba(0,0,0,1);
  border-radius: 10px;
}

.ingredient-image {
  float: left;
  width: 30%;
  margin-left: 20px;
  padding-top: 50px;
}

.ingredient-image img {
  height: 150px;
  width: 300px;
}

.option-expanded {
  float: right;
  width: 50%;
}

#protein-source-output {
  width: 90%;
  background-color: rgba(255,255,255,0.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

#bulk-veg-output {
  width: 90%;
  background-color: rgba(255,255,255,0.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

#accent-veg-output {
  width: 90%;
  background-color: rgba(255,255,255,0.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

#cook-type-output {
  width: 90%;
  background-color: rgba(255,255,255,0.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

#flavor-profile-output {
  width: 90%;
  background-color: rgba(255,255,255,0.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

.yellow {
  font-size: 5em;
  font-weight: 100;
  color: yellow;
  white-space: nowrap;
}

.green {
  font-size: 5em;
  font-weight: 100;
  color: green;
  white-space: nowrap;
}

.darkgreen {
  font-size: 5em;
  font-weight: 100;
  color: #003300;
  white-space: nowrap;
}

.lightgreen {
  font-size: 5em;
  font-weight: 100;
  color: #B3EE3A;
  white-space: nowrap;
}

.grey {
  font-size: 5em;
  font-weight: 100;
  color: #D0D2C4;
  white-space: nowrap;
}

.blue {
  font-size: 5em;
  font-weight: 100;
  color: blue;
  white-space: nowrap;
}

.black {
  font-size: 5em;
  font-weight: 100;
  color: black;
  white-space: nowrap;
}

.brown {
  font-size: 5em;
  font-weight: 100;
  color: #5E2612;
  white-space: nowrap;
}

.pink {
  font-size: 5em;
  font-weight: 100;
  color: #EE1289;
  white-space: nowrap;
}

.orange {
  font-size: 5em;
  font-weight: 100;
  color: #FF8000;
  white-space: nowrap;
}

.red {
  font-size: 5em;
  font-weight: 100;
  color: #CD0000;
  white-space: nowrap;
}

.purple {
  font-size: 5em;
  font-weight: 100;
  color: #9B30FF;
  white-space: nowrap;
}








