/*FIX ALL SIZES TO PERCENTAGES
ADD SOME SORT OF MEDIA QUERY

@media screen and (min-width: 1024px) {
tyles go here
  }

@MEDIA (MIN-WIDTH: 1024PX) {
  XXXXXX OR 480 OR 320
}

*/

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
  line-height: 2;
  cursor: default;
}

a {
  text-decoration: none;
}

#page-header {
  width: 100%;
  height: 130px;
}

.container {
  background: url(../images/Shrimp.jpg) center center no-repeat;
  background-size: cover;
  padding: 0%;
}

.banner {
  background-color: rgba(255,255,255,0.75);
  background-size: cover;
  padding: 0%;
  box-shadow: inset 0 0 5px rgba(0,0,0,.75);
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.directions {
  width: 80%;
  margin: 0 auto;
}


h1 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  margin: 0 0 1.5em 0;
}

.dice {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 300px;
}

.dice img {
  height: 100px;
  width: 100px;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.dice img:hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.fade_click {
  background: #fff;
}

.fade {
  opacity: .5;
}

.selected {
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.select {
  background: url(images/Thick-Grey-Smiley3-D6.jpg);
}

.pick-me {
  background: url(images/D6-PickMe.jpg);
}

.clear {
  clear: both;
}

/*#recipe {
  width: 100%;
  background-color: rgba(255,255,255,0.75);
  border-radius: 10px;
}*/

#protein-source-output {
  width: 100%;
  background-color: rgba(255,255,255,.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

#bulk-veg-output {
  width: 100%;
  background-color: rgba(255,255,255,0.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

#accent-veg-output {
  width: 100%;
  background-color: rgba(255,255,255,0.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

#cook-type-output {
  width: 100%;
  background-color: rgba(255,255,255,0.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

#flavor-profile-output {
  width: 100%;
  background-color: rgba(255,255,255,0.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

.ingredient-image {
  float: left;
  width: 30%;
  margin-left: 20px;
}

.ingredient-image img {
  height: 150px;
  width: 300px;
}

.option-expanded {
  float: right;
  width: 50%;
}

.yellow {
  font-size: 5em;
  font-weight: 100;
  color: yellow;
}

.green {
  font-size: 5em;
  font-weight: 100;
  color: green;
}

.darkgreen {
  font-size: 5em;
  font-weight: 100;
  color: #003300;
}

.lightgreen {
  font-size: 5em;
  font-weight: 100;
  color: #B3EE3A;
}

.grey {
  font-size: 5em;
  font-weight: 100;
  color: #D0D2C4;
}

.blue {
  font-size: 5em;
  font-weight: 100;
  color: blue;
}

.black {
  font-size: 5em;
  font-weight: 100;
  color: black;
}

.brown {
  font-size: 5em;
  font-weight: 100;
  color: #5E2612;
}

.pink {
  font-size: 5em;
  font-weight: 100;
  color: pink;
}

.orange {
  font-size: 5em;
  font-weight: 100;
  color: #FF8000;
}

.red {
  font-size: 5em;
  font-weight: 100;
  color: #700000;
}

.purple {
  font-size: 5em;
  font-weight: 100;
  color: #9B30FF;
}








