/*FIX ALL SIZES TO PERCENTAGES
ADD SOME SORT OF MEDIA QUERY

@MEDIA (MIN-WIDTH: 1024PX) {
  XXXXXX OR 480 OR 320
}

do something like the collapsing nav
bar - collapse and toggle
*/

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
  line-height: 2;
  cursor: default;
}

a {
  text-decoration: none;
}

.container {
  background-color: white;
}

.banner {
/*  background: url(../images/XXXXX) center center no-repeat;
*/  
  background-size: cover;
  padding: 0%;
  box-shadow: inset 0 0 5px rgba(0,0,0,.75);
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.one {
  width: 100%;
}

/*.two {
  height: 400px;
  width: 100%;
  display: none;
}

.three {
  height: 400px;
  width: 100%;
  display: none;
}

.four {
  height: 400px;
  width: 100%;
  display: none;
}

.five {
  height: 400px;
  width: 100%;
  display: none;
}*/

/*I EVENTUALLY WANT THIS COLOR TO BE JUST
JUST OPAQUE AND KINDA HAZY, BUT I'M NOT SURE
IF THAT IS POSSIBLE OVER A WHITE BACKGROUND
MOST LIKELY THIS IS NOT DOABLE. ASK WHEN 
CODE IS FLESHED OUT MORE. I SUPPOSE I COULD
LIVE WITH MAKING THIS BOX A TOUCH GREY. MAYBE.*/

/*#slider {
  margin: 0px auto;
  position: relative;
  width: 100%;
/*box-shadow: 0 0 20px rgba(0,0,0,0.4);*/
/*height: 300px;*/
/*}*/


h1 {
  font-size: 2em;
  line-height: 1;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  margin: 0 0 1.5em 0;
}

.dice {
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.dice img {
  height: 100px;
  width: 100px;
  float: left;
  padding-bottom: 50px;
  padding-left: 50px;
}

.dice img:hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
  /*background:#01DF3A;*/
}

.fade_click {
  background: #fff;
}

.fade {
  opacity: .5;
}

.selected {
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.select {
  background: url(images/Thick-Grey-Smiley3-D6.jpg);
}

.pick-me {
  background: url(images/D6-PickMe.jpg);
}

.clear {
  clear: both;
}

#recipe {
  width: 100%;
}

.ingredient-image {
  float: left;
  width: 30%;
  margin-left: 20px;
}

.ingredient-image img {
  height: 150px;
  width: 300px;
  
}

.option-expanded {
  float: right;
  width: 50%;
}

.yellow {
  font-size: 5em;
  font-weight: 100;
  color: yellow;
}

.green {
  font-size: 5em;
  font-weight: 100;
  color: green;
}

.blue {
  font-size: 5em;
  font-weight: 100;
  color: blue;
}

.black {
  font-size: 5em;
  font-weight: 100;
  color: black;
}

.brown {
  font-size: 5em;
  font-weight: 100;
  color: brown;
}

.pink {
  font-size: 5em;
  font-weight: 100;
  color: pink;
}






