body {
background-image: url(../images/GrandCentral.jpg);
background-size: cover;
background-position: center;
background-repeat: none;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  font-size: 50px;
}

p {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.5px;
  -webkit-font-smoothing: antialiased;
}

/*.header {
  background-color: #555555;
  height: 100px;
}*/

/*.wrapper {
  background-image: url(../images/GrandCentral.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}*/

.jumbotron {
  background-color: rgba(185,197,200,0.75);
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-width: 5px;
  border-style: double;
  border-color: white;
}

.nav-boxes {
  padding-left: 80px;
  padding-top: 270px;
  font-family: 'Julius Sans One', sans-serif;

}

.nav-button {
  display: inline-block;
  width: 150px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}

.nav-button:hover,
.nav-button:active {
  background-color: #fff; /*fallback*/
  background-color: rgba(255,255,255,0.4);
  border-color: #fff; /*fallback*/
  border-color: rgba(255,255,255,0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 20px;
}

.arrow-dn ul {
  list-style: none;
}

.arrow-dn li::before {
  position: relative;
  top: 3pt;
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  transform: rotate(135deg);
  margin-right: 0.5em;
  margin-left: 475px;
}

.arrow-dn li:hover {
}

.arrow-dn li:hover::before {
  border-color: #8f25b8;
}

#toggle_about {
  background-color: rgba(192,192,192,0.3);
  color: white;
  display: none;
}

.img-circle {
    border-radius: 50%;
}

footer {
  background-color: #555555;
  height: 100px;
}

footer h1 {
  float: right;
}

@font-face {
    font-family: 'si';
    src: url('PATH_TO/socicon.eot');
    src: url('PATH_TO/socicon.eot?#iefix') format('embedded-opentype'),
         url('PATH_TO/socicon.woff') format('woff'),
         url('PATH_TO/socicon.ttf') format('truetype'),
         url('PATH_TO/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 18px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 32px;
    color: #ffffff;
    background-color: #b9c5c8;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-email1:before {
    content:'<';
}
.soc-linkedin:before {
    content:'j';
}
.soc-behance:before {
    content:'H';
}
.soc-github:before {
    content:'Q';
}
.soc-twitter:before {
    content:'a';
}
.soc-flickr:before {
    content:'v';
}
.soc-instagram:before {
    content:'x';
}



